nav{
position:fixed;
background-color:lightgreen;
height:100px;
width:100%;
}

nav h3{display:inline;}
nav a{display:inline;}
section #left{
width:50%;
float:left;
background-color:lightblue;
}

#left{
float:left;
background-color:lightblue;
}

section #right{
width:50%;
float:right;
background-color:lightred;
}

footer{
height:100px;
width:100%;
clear:both;
background-color:orange;
}
