nav{
position:fixed;
top: 0px;
left: 0px;
background-color:lightgreen;
height:100px;
width:100%;
}

nav h3{display:inline;}
nav a{display:inline;}
section{
  position:absolute;
margin-top:100px;
width:50%;
float:left;
background-color:lightblue;
}

aside{
  position:absolute;
margin-top:100px;
width:50%;
float:right;
background-color:red;
}

footer{
height:100px;
width:100%;
clear:both;
background-color:orange;
}
